/* src/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.comments-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.commet-text {
  font-size: 20px;
  font-weight: 500;
}

.sort-controls {
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
}

.sort-button-latest, .sort-button-popular, .selected-sort-button-latest, .selected-sort-button-popular {
  background-color: transparent;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}

.selected-sort-button-latest {
  background-color: gray;
  border-radius: 10px 0 0 10px;
}

.selected-sort-button-popular {
  background-color: gray;
  border-radius: 0px 10px 10px 0px;
}

.loader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

